*{
    font-family: 'Ubuntu', sans-serif; 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('background.jpg');  
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
} 

.main_square{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    overflow:auto;
}

img.lim{
    display: block;
    width: 20%; 
    margin: auto;
    margin-top: 70px; 
} 

.title{
    display: block;
    overflow: auto;
    color: rgb(0, 221, 0);
    text-align: center; 
}

.container{ 
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    background-color: rgba(0, 221,0, 0.5);
    padding: 5px; 
} 

button{
    padding: 2px;
}


/* Users */
.user{
    color: whitesmoke;
    font-size: 20px;
    display: inline; 
    padding: 5px;
}
.description{
    margin-left: 50px; 
    font-size: 20px;
    color: whitesmoke;
}

.square{
    margin-left: 50px;
    margin-top: 20px;
}

.load1, .load2, .load3{
    border-radius: 2px;
    padding: 10px;
    margin-left: 50px;
}
.load1{
    background-color:rgb(245, 180, 83); 
    margin-right: 450px; 
} 

.load2{
    background-color: rgb(30, 195, 30); 
    margin-right: 300px; 
}

.load3{
    background-color: rgb(190, 65, 65); 
    margin-right: 630px; 
}